<!--<%@ page import="java.util.Date" %>-->
<!--<%@ page contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>-->
<!--<% Date date = new Date();%>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FreeIt </title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="script.js"></script>
</head>

<body>
<div class="main-class">
    <div class="hello-world">
<!--        <h1><%= "Hello World!" %></h1>-->
        <h1>Hello World!</h1>
    </div>
    <div class="date">
<!--        <%=date%>-->
    </div>
    <div class="input-div">
        <input id="Search" type="text" name="Search By Name" size="50" class="input-div">
        <button id="searchId" onclick="alertFunction()">Search</button>
    </div>

</div>
<!--<%&#45;&#45;<a href="hello-servlet">Hello Servlet</a>&#45;&#45;%>-->
</body>
</html>